html,body,#root,.app-container,

.map-container {
  height: 100%;
  width: 97%;
  font-family: sans-serif;
}

.sidebar {
  position: fixed;
}

.title {
  color: #fff;
  text-align: center;
}

.place-list {
  width: 250px;
  height: calc(100% - 100px);
  position: fixed;
  background: #3e3e3e;
  z-index: 1;
  overflow-y: auto;
  margin-top: 120px;
}

.place {
  padding: 10px 15px;
  color: #b9b9b9;
  cursor: pointer;
}

.heading {
  position: fixed;
  width: 250px;
  background: #3e3e3e;
}

.filter-places {
  width: 230px;
  padding: 10px;
  font-family: inherit;
  font-size: inherit;
}

.info-window {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(150px, 0);
  width: 300px;
  background: rgb(255, 255, 255);
  padding: 0 20px 20px;
}

.close-window {
  cursor: pointer;
  color: #9a9a9a;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px;
  font-size: 1.5em;
  margin: 0;
}

.info-category
{
  color: #9a9a9a;
  margin-bottom: 10px;
}

.attribution {
  font-size: small;
  color: #9a9a9a;
  text-align: right;
}
